
.main-content {
  padding-left: 128px; /* Same as navbar height in viewport heights */
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}

.form-control{
  max-width: 500px;
  border: 1px solid black !important;
}

.default-form{
  margin-left: 20px;
}

.default-label{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 3px;
}

.submit-button{
  margin-top: 10px;
  border: 2px solid black !important;
}

.card{
  margin-top: 10px;
  margin-left: 10px;
  height: 220px !important;
  width: 220px !important;
  border-radius: 0 !important;
  overflow: hidden;
}

.add-new-card{
  margin-top: 10px;
  margin-left: 10px;
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;  /* Aligns items horizontally to the center */
  align-items: center;      /* Aligns items vertically to the center */
}

.add-new-card-logo{
  height: 100px;
  width: 100px;
}



