.quote-wrapper {
    display: flex;
    align-items: center;
}

.single-quote-symbol-container {
    display: flex;
    align-items: center;
    font-size: 0; /* Removes any extra spacing */
}

.quote-symbol {
    font-size: calc(1em + 2vw); /* Adjust the size based on viewport width */
    line-height: 1; /* Ensure the quote height matches the text height */
}

.quote-container p {
    margin: 0;
    font-size: 1.5em; /* Adjust the text size as needed */
}
